@import 'reset.css';
@import "~normalize.css";

$body-color: #1E2124;
$font: 'Ubuntu', sans-serif;
$width: 1145px;

$logo: url('/src/icons-svg/logo.svg');
$search: url('/src/icons-svg/search.svg');
$chevron: url('/src/icons-svg/chevron.svg');
$chevron-filter: url('/src/icons-svg/chevron-filter.svg');
$dots: url('/src/icons-svg/dots.svg');
$triangle: url('/src/icons-svg/triangle.svg');
$chevron-date: url('/src/icons-svg/chevron-date.svg');
$line: url('/src/icons-svg/line.svg');

$iw: 90px;
$pw: 71px;
$ew: 99px;
$sw: 74px;
$cw: 80px;

%news-header {
  color: #BFC0C1;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  padding-top: 30px;
  background-image: $chevron;
  background-repeat: no-repeat;
}

%caption {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: rgba(191, 192, 193, 0.7);
}

%theme {
  height: 30px;
  background: #DCA74A;
  border: 1px solid #DCA74A;
  text-align: center;      
  span {
    font-size: 12px;
    line-height: 28px;
    color: #1E2124;
    text-transform: uppercase;
  }  
}

%item-header {
  position: absolute;  
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #BFC0C1;
  text-transform: uppercase;
}

* {
	box-sizing: border-box;
}

body {
  font-family: $font;
  background: $body-color;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.col-eld-3 {
	width: 25%;
}

.col-eld-6 {
	width: 50%;
}

.col-eld-9 {
	width: 75%;
}

.col-eld-12 {
	width: 100%;
}

.col-eld-4 {
	width: 33%;
}

.col-eld-8 {
	width: 66%;
}

header {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);  
}

.container {
  width: $width;
  margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.menu, .nav {
  display: flex;
}

.nav {
  height: 45px;
  align-items: center;
  justify-content: space-between;
  .logo {
    background-image: $logo;
    width: 165px;
    height: 28px;
  }
  .search-icon {
    background-image: $search;
    width: 17px;
    height: 17px;
  }
}

main {
  margin-top: 45px;
}

.header {
  position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
  .menu a {
    padding: 31px;
    padding-left: 0;
    font-size: 14px;
    color: #BFC0C1;
    &:hover {
      color: #DCA74A;
    }
}

.actual-news, .side-news {
  @extend %news-header;
}
  
.actual-news {
  background-position: 0% 90%;
}

.side-news {
  background-position: 2% 90%;
  margin-left: 20px;
}

.filter {  
  background: #282B2E;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
  width: 166px;
  height: 32px;
  text-transform: none;
  position: relative;
  margin-top: 17px;
  margin-left: 48px;
  .chevron {
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.filter__body {
  font-size: 15px;
  font-weight: normal;
  background-image: $chevron-filter;
  background-repeat: no-repeat;
  text-transform: none;
  background-position: 90% 50%;
  padding: 7px 74px 11px 20px;    
  color: #BFC0C1;
}

.dots {
  background-image: $dots;
  width: 38px;
  height: 91px;
  position: fixed;
  top: 266px;
}

.triangle {
  background-image: $triangle;
  background-repeat: no-repeat;
  width: 448px;
  height: 552px;
  position: fixed;
  top: 682px;
}

.square {
  background-image: url('/src/icons-svg/square1.svg');
  width: 42px;
  height: 42px;
  position: fixed;
  top: 503px;
  left: 868px;
  filter: blur(2px);
}

.policy {
  width: $pw;
}

.incidents {
  width: $iw;
}

.sports {
  width: $sw;
}

.economics {
  width: $ew;
}

.culture {
  width: $cw;
}

.main-news__item {
  position: relative;
  z-index: 2;
  width: 270px;
  margin-top: 20px;
  height: 200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.07);
  .box-background {
    height: 200px;
    background-color:rgba(0,0,0,0.4);
  }
}

.right {
  margin-top: 30px;
  margin-left: 14px;
}

.left {
  margin-top: 30px;
  margin-left: 3px;
}

.item-theme {
    position: absolute;
    top: 0px;
    right: 0px;
    @extend %theme;
  }

.main-news-item__header {
    @extend %item-header;
    bottom: 30px;
    margin: 0px 20px 10px 20px;
  }

.mid {
    bottom: 20px;
  }

.main-news-date {
    position: absolute;
    bottom: 20px;      
    padding-left: 20px;
    @extend %caption;
  }

.date-mid {
  bottom: 20px;
}

.author__main {
    @extend %caption;
    position: absolute;
    bottom: 20px;   
    padding-left: 95px;   
    background-image: $chevron-date;
    background-repeat: no-repeat;
    background-position: 50%;
}

.main-news {   
  justify-content: space-between;      
}

.hide-author {
  display: none;
}

.news__header {
  margin-left: 27px;
}

.navbar-scroll {
  background: rgb(30, 33, 36);
}

.burger {
  display: none;
}

.menu-open {
  display: none;
}

// right column news

.right-news {
  margin-top: 20px;
  margin-left: 24px;
  .right-news__item {
    margin-bottom: 20px;
  }
  .right-news__theme {
    height: 30px;
    width: $sw;
    background: #DCA74A;
    border: 1px solid #DCA74A;
    text-align: center;      
    font-size: 12px;
    line-height: 28px;
    color: #1E2124;
    text-transform: uppercase;
  }
  .right-news__header {
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    color: #BFC0C1;
  }
  .right-news__date {
    font-weight: 300;
    padding-top: 10px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(191, 192, 193, 0.7);
    .theme__author {
      padding-left: 13px;
      background-image: $chevron-date;
      background-repeat: no-repeat;
      background-position: 4% 57%;
    }
  }
  .hr {
    background-image: $line;
    height: 1px;
    margin-top: 15px;
  }
}

// media

.col-sm-12 {
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .filter, .search-icon, .square, .dots, .triangle {
    display: none;
  }
  .container {
    width: 750px;
  }
  .side-news {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  
  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  .filter, .latest-news, .search-icon, .square, .dots, .triangle, .menu {
    display: none;
  }
  .container {
    width: 540px;
  }

  .main-news__item {
    width: 250px;
    margin: 20px auto;
  }

  .actual-news {
    margin-left: 18px;
    padding-top: 30px;
    background-position: 1% 84%;
    font-size: 30px;
  }
  .logo {
    margin-left: 20px;
    margin-top: 5px;
  }
  .nav {
    height: 60px;
  }
  .menu-open {
    z-index: 4;
    display: block;
    border: none;
    background: none;
    img {
      width: 45px;
    }
  }
  .show-menu {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.9);
    left: 0;
    top: 0;
    padding: 40px 20px 20px 40px;
    &:hover {
      color: #DCA74A;
    }
    a{
      font-size: 30px;
    }
    li {
      margin-bottom: 40px;
      &:first-child {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 575px) {
  .col-xs-12 {
    width: 100%;
    margin: 0 auto;
  }
  .col-md-6 {
    width: 100%;
  }
  .container {
    width: 320px;  
  }
  .actual-news {
      font-size: 27px;
  }
  .navbar-scroll {
    padding-top: 20px;
  }
  .logo {
    margin-left: 0;
  }
  .actual-news {
    margin-left: 0;
  }
  .main-news__item {
    width: 300px;
  }
  .navbar-scroll {
    padding-top: 0;
  }
}

@media (max-width: 321px) {
  .main-news__item {
    width: 290px;
    margin: 20px auto;
  }
  .actual-news, .logo {
    margin-left: 15px;
  }
}